Tasca LMSGI04.1/DTD/cifp.dtd


<!ENTITY % persona "(nom, llinatges, data_naixement?, correu?, telefon?, adreça?)">

<!ELEMENT cifp (alumne | professor)*>

<!ELEMENT alumne (%persona;, data_matricula, curs)>  
<!ATTLIST alumne id CDATA #REQUIRED>

<!ELEMENT professor (%persona;, data_incorporació, departament, assignatura* )>
<!ATTLIST professor id CDATA #REQUIRED>

<!ELEMENT nom (#PCDATA)>
<!ELEMENT llinatges (#PCDATA)>
<!ELEMENT data_naixement (#PCDATA)>
<!ELEMENT correu (#PCDATA)>
<!ELEMENT telefon (#PCDATA)>
<!ELEMENT adreça (#PCDATA)>

<!ELEMENT data_matricula (#PCDATA)>
<!ELEMENT curs (#PCDATA)>
<!-- Valores: DAM | DAW | ASIX | SMX | SEIA | ER | AUT --> 

<!ELEMENT data_incorporació (#PCDATA)>
<!ELEMENT departament (#PCDATA)>
<!-- Valores: Informàtica | Electricitat | Automoció -->
<!ELEMENT assignatura (nom_assignatura, data_inici?, data_final?)>
<!ATTLIST assignatura id_assignatura CDATA #REQUIRED>

<!ELEMENT nom_assignatura (#PCDATA)>
<!ATTLIST nom_assignatura cicle (DAM | DAW | ASIX | SMX | SEIA | ER | AUT) #REQUIRED>
<!ELEMENT data_inici (#PCDATA)>
<!ELEMENT data_final (#PCDATA)>